/* размеры подгоняйте по мере появления элементов, цвет пока только для наглядности некоторых элементов */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
  --dark-blue: #1d465d;
  --blue: #40a4dd;
  --gray: #ededed;
}

* {
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:500vh;
    margin:0px;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(0, 142, 190);
}

header{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width:100vw;
  height:100vh;
  margin:0px;
}

/* фон хэдера */
header img{
  width:100vw;
  height:90vh;

  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
  position: absolute;
  margin: 0;
}

/* анимация при загрузке */
.circle{
  position: absolute;
  width: 150px;
  height: 150px;  
  border: 10px solid white;
  border-radius: 50%;
  animation: 1000ms loading ease-in infinite;
  opacity: 0;
}

.circle:nth-child(2){
  animation: 1000ms loading ease-in infinite;
  animation-delay: 520ms;
}

@keyframes loading{
  0%{
      width:5px;
      height:5px;
      opacity: 0;
  }
  10%{
      opacity: 1;
  }
  60%{
      opacity: 1;
      border-width: 8px;
  }
  80%{
      width:90px;
      height: 90px;
      opacity:0;
      border-width: 2px;
  }
}

/* НАВБАР */
.navbar{
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 63px;
  position: fixed;
  /* background-color: rgb(54, 53, 49); */
  background-color: rgba(54,53,49,0.5);
  transition-duration: 250ms;
}


.title{
  color: rgb(20, 107, 183);
  /* font-family: "Poppins", sans-serif; */
  letter-spacing: 3px;
  cursor: default;
}

/* ссылки на другие части сайта */
.options_list{
  display:flex;
  height: 100%;
  list-style-type: none;
}

/* разделы навбара */
.options_list li {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  margin-right: 15px;
  transition-duration: 200ms;
  cursor: default;
  /* font-family: monospace; */

  font-size: 160%;
}

/* позиционирование для выпадающих списков */
.expanded_start{
  position: relative;
}

/* выпадающий из навбара список */
.options_expanding:hover .expanded_list{
  opacity: 1;
  height: 150px;
}
.options_expanding:hover .expanded_list div{
  height: 50px;
}

/* выпадающий список для пунктов навбара */
.expanded_list{
  display:flex;
  height: 0;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width:fit-content;
  background-color: rgba(54,53,49,0.97);
  opacity: 0;
  transition-duration: 250ms;
  list-style-type: none;
}

/* стиль элементов выпадающего списка */
.expanded_list div{
  width:90%;
  height:0px;
  color: ivory;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  /* border-bottom: 2px solid ivory; */
  transition-duration: 250ms;
  margin: 0 16.7px;
}

/* убираем разделитель в конце выпадающего списка */
.expanded_list div:last-child{
  border-bottom: none;
}

/* реакция текста в выпадающем списке на мышь */
.expanded_list div:hover{
  color:rgb(20, 107, 183);
}

/* позиционирование текста в навбаре */
.options_text{
  height: 100%;
  display: flex;
  align-items: center;
}

/* реакция текста в навбаре на мышь */
.options_list li:hover{
  color:rgb(20, 107, 183);
}

/* текст в хэдере */
.header_text{
  position:absolute;
  top:20vh;
  /* left: 35vw; */
  display:flex;
  flex-direction: column;
  background-color: transparent;

  text-align: center;
  /* font-family: monospace; */
  font-weight: 580;
  font-size:175%;
  color: ivory;
}

/* форматирование заголовка в хэдере */
.chego_eshe_raz h1{
  letter-spacing: 2px;
}

.chego_eshe_raz h2{
  letter-spacing: 1px;
}

.header_branch{
  display: flex;
  /* flex-direction: column; */
  position: absolute;
  top: 55vh;
}
/* кнопки в хэдере */
.header_branch div{
  width:15vw;
  height:7vh;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-duration: 150ms;
  cursor: default;

  /* font-family: monospace; */
  font-weight: 580;
  font-size:150%;
  color: aliceblue;

  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(20, 107, 183);
  border-radius: 30px;
}

.header_branch div:hover{
  background-color: rgb(66, 131, 189);
}

.header_info_blocks{
width: 100%;

  display: flex;
  justify-content: space-evenly;
  position: absolute  ;

  top:75vh;
}

.header_info_blocks div{
  width: 15vw;
  height:20vh;

  /* opacity: 0.4; */

  display: flex;
  /* align-items: center ; */
  flex-direction: column;
  justify-content: center;
  /* border: black solid 2px; */
  /* border-radius: 5px; */
  background-color: whitesmoke;
  transition-duration: 250ms;
}

.header_info_blocks div:hover{
  width: 18vw;
  height: 22vh;

  opacity:1;
}

.header_info_blocks div h1{
  /* font-family: monospace; */
  font-weight: bold;
  font-size:210%;
  color: black;
  margin-top: 4%;
  margin-left: 10%;
}

.header_info_blocks div h2{
  /* font-family: monospace; */
  font-weight: bold;
  font-size:150%;
  color: black;
  margin-top: 4%;
  margin-left: 10%;
}

/* 
.loading{
    width:100%;
    height: 100%;
    background-color: rgb(54, 53, 49);
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* SECTION ABOUT */

.about-us {
    /* background: url('./img/background_about.jpg') no-repeat; */
    background-size: cover;
  }
  
  .container__about-us {
    width: 100%;
    max-width: 80%;
  
    margin: 0 auto;
  }
  
  .about__title__inner {
    color: rgb(24, 18, 18);
  
    width: 100%;
    max-width: 100%;
  
    display: flex;
    justify-content: flex-start;
    
    padding-top: 30px;
  }
  
  .about__title {
    font-weight: 700;
    font-size: 41px;
    margin-right: 95px;
  }
  
  .about__menu {
    list-style: none;
  
    display: flex;
    align-items: center;
  }
  
  .about__menu li {
    margin-top: 10px;
    margin-right: 40px;
  }
  
  .about__menu__elem {
    font-size: 19px;
    font-weight: 500;
    transition: color .2s linear;
    cursor: pointer;
  }
  
  .about__menu__elem:hover {
    color: #40a4dd;
  }
  
  .about__img__inner {
    display: grid;
    width: 65%;
  }
  
  .about__img__inner img {
    width: 100%;
  }

  .about__content__inner {
      position: relative;
      width: 100%;
      height: 80vh;
  }
  
  .about__content {
    position: absolute;
    display: flex;
    justify-content: center;
  
    margin: 50px 0 70px;

    transition: .5s;
  }
  
  .about__info__inner {
    background: #fff;
    width: 100%;
    max-width: 35%;
  
    padding: 50px;
  }
  
  .about__info {
    
    display: flex;
    flex-direction: column;
  }
  
  .about__info__title {
    font-size: 35px;
    font-weight: 700;
    color: #1d465d;
  
    margin-bottom: 20px;
  }
  
  .about__info p {
    font-size: 19px;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;
    color: #1d465d;
    margin: 18px auto;
  }
  
  .about__info a {
    width: 100%;
    max-width: 200px;
    font-size: 17px;
    color: #1d465d;
    text-decoration: none;
    text-align: center;
  
    border: 2px #1d465d solid;
    border-radius: 25px;
  
    margin: 35px auto 0;
    padding: 10px 15px;
    transition: .2s;
  }
  
  .about__info a:hover {
    background: #1d465d;
    color: #fff;
    border: none;
  }

  .webinars {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .webinar-list {
    position: relative;
    display: flex;
    width: 100%;
    left: 0px;
    transition: 0.5s ease-in-out;
  }

  .webinars h1 {
    font-size: 60px;
    margin: 30px 0;
    font-weight: 800;
    color: var(--blue);
  }

  .webinars-scroll {
    position: absolute;
    top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 5;
  }

  .webinar {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 900px;
  }

  .webinar-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.2);
  }

  .webinar-content {
    display: flex;
    flex-direction: column;
    color:  white;
    width: 60%;
    height: 70%;
    margin-left: 10%;
    z-index: 3;
  }

  .webinar-title {
    font-size: 60px;
    font-weight: 300;

  }

  .webinar-date {
    font-size: 30px;
    font-weight: 100;

  }

  .webinar-desc {
    margin-top: 60px;
    font-size: 25px;
    font-weight: 200;

  }

  .webinar-underline {
    height: 3px;
    width: 300px;
    margin: 40px 0;
    background-color: white;
  }

  .webinar-link {
    font-size: 40px;
    font-weight: 800;
    color: var(--blue);
    text-decoration: none;
  }

  .webinar-link:visited {
    color: var(--blue);
  }