@media (min-width: 320px) {

  /* SECTION__ABOUT */

  .about__container {
    max-width: 85%;
  }

  .about__title__inner {
    flex-direction: column;
    justify-content: space-between;
  }

  .about__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

  .about__menu {
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  .about__menu li {
    margin: 5px 0;
  }

  .about__menu__elem {
    font-size: 16px;
    margin: 0;
  }

  .about__card__inner {
    height: auto;
  }

  .about__card {
    flex-direction: column;
  }

  .about__card__img {
    width: 100%;
  }

  .about__card__info {
    width: 100%;
    padding: 0;
  }

  
  .about__card__info__title {
    width: 90%;
    font-size: 30px;
    margin: 20px auto 0;
  }

  .about__card__info p {
    width: 90%;
    font-size: 16px;
    margin: 20px auto;
  }

  .about__btn {
    width: 60%;
    margin: 20px auto;
  }

  /* SECTION__SOLUTIONS */

  .solutions__title {
    font-size: 30px;
    text-align: center;
  }

  .solutions__card__all__inner {
    height: auto;
  }

  .solutions__card__inner {
    max-width: 100%;
    margin-bottom: 15px;
  }
  
  .solutions__subtitle__inner {
    font-size: 10px;
  }
}