@media (min-width: 992px) {

  /* HEADER */
  .header_info_blocks {
    display: flex;
  }

  .header_info_blocks div h1{
    font-size: 20px;
  }

  .header_info_blocks div h2{
    font-size: 18px;
  }

  .header_branch {
    flex-direction: row;
  }

  /* SECTION__ABOUT */

  .about__container {
    max-width: 85%;
  }

  .about__title__inner {
    flex-direction: row;
    text-align: left;
  }

  .about__title {
    width: 30%;
    text-align: left;
    font-size: 30px;
    margin: 0;
  }

  .about__menu {
    justify-content: flex-start;
    width: 70%;
  }

  .about__menu li {
    width: 35%;
  }

  .about__menu__elem {
    font-size: 17px;
  }

  .about__card__inner {
    height: auto;
  }

  .about__card {
    flex-direction: column;
  }

  .about__card__img {
    width: 100%;
  }

  .about__card__info {
    width: 100%;
    padding: 0;
  }

  
  .about__card__info__title {
    width: 90%;
    font-size: 30px;
    margin: 20px auto 0;
  }

  .about__card__info p {
    font-size: 17px;
    width: 90%;
    margin: 20px auto;
  }

  .about__btn {
    width: 220px;
    margin: 20px auto;
  }

   /* WEBINAR */
   .webinar {
    height: 700px;
  }

  .webinar-content {
    width: 60%;
  }

  .webinar-title {
    font-size: 40px;
  }

  .webinar-date {
    font-size: 20px;
  }

  .webinar-desc {
    margin-top: 60px;
    font-size: 22px;
  }

  .webinar-link {
    font-size: 36px;
  }

  .webinars-scroll {
    top: 350px;
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

  /* CLIENTS */
  .clients-title {
    font-size: 40px;
  }
}