@media (min-width: 320px) {
  .news_block button{
    font-size: 14px;
    width: 150px;
    padding:12px;
  }
  .news_content span{
    font-size:12px;
  }
  .news_content h1{
    font-size: 17.5px;
  }
  .news_content h2{
    font-size: 16px;
  }

  .all_news_block{
    display: flex;
    flex-direction: column;
  }
}