@media (min-width: 768px) {
  .contact__header__title {
    font-size: 41px;
    padding: 15px 100px;
  }

  .contact__container {
    max-width: 90%;
  }

  .btn-switch__inner {
    max-width: 100%;
    flex-direction: row;
  }

  .btn-switch {
    width: 30%;
    margin: 10px 15px;
  }

  .title__input {
    font-size: 16px;
  }

  .btn-submit {
    max-width: 40%;
  }

  .map {
    height: 600px;
    margin-top: 20px;
  }

  .tel__company, .title__company {
    font-size: 25px;
  }
}