@media (min-width:768px){
    .opt_first{
        padding-left: 20px;
    }
    .opt_first b{
        font-size:20px;
       
    }
    .opt_first a{
        font-size: 13px;
    }
    .opt_second{
        padding-left: 30px;
    }
    .opt_second b{
        font-size:20px;
    }
    .opt_second a{
        font-size: 13px;
    }
        .opt_third{
            padding-left: 30px;
        }
        .opt_third b{
            font-size:20px;
        }
        .opt_third a{
            font-size: 13px;
        }
        .text__first{
            padding-left: 20px;
            font-size: 13px;
        }
        .text__first b{
            font-size: 20px;
        }
        .text__first a{
            font-size: 13px;
        }
        .text__second{
            padding-left: 350px;
            padding-top: 75px;
        }
        .subscribe__button{
            height: 35px;
        }
        .subscribe__button a{
            font-size: 13px;
        }
        .opt_forth a {
            font-size: 13px;

            padding-left: 200px;
        }
        .opt_forth a1 {
            font-size: 13px;
        }
        .opt_forth a2 {
            font-size: 13px;
        }
        .opt_forth a3 {
            font-size: 13px;
        }
        .footer__copyright a {
            font-size: 13px;
        }
}