@media(min-width:992px){
    .text__first{
        padding-left: 20px;
        width: 100%;
    }
    .text__second{
        padding-left: 300px;
    }
    .opt_forth{
        padding-left: 300px;
    }
}