@media (min-width:576px){
    .footer__logo{
    font-size: 25px;
    }
    .opt_first{
        padding-left: 15px;
        line-height: 0.8;
        
    }
    .opt_first b{
        font-size:16px;
    }
    .opt_first a{
        font-size: 11px;
        padding-left: 5px;
    }
    .opt_second{
            line-height: 0.8;
        }
        .opt_second b{
            font-size:16px;
            padding-left: 5px;
        }
        .opt_second a{
            font-size: 11px;
            padding-left: 5px;
        }
        .opt_third{
            line-height: 0.8;
        }
        .opt_third b{
            font-size:16px;
        }
        .opt_third a{
            font-size: 11px;
        }
        .text__first{
            padding-left: 15px;
            font-size: 11px;
        }
        .text__first b{
            font-size: 16px;
            padding-left: 5px;
        }
        .text__first a{
            font-size: 11px;
        }
        .text__second{
            padding-left: 200px;
            padding-right: 50px;
            padding-top: 60px;
        }
        .subscribe{
            max-width: 200px;
        }
        .subscribe__button a{
            font-size: 11px;
        }
        .opt_forth a {
            font-size: 11px;

            padding-left: 120px;
        }
        .opt_forth a1 {
            font-size: 11px;

            padding-left: 10px;
        }
        .opt_forth a2 {
            font-size: 11px;
        
            padding-left: 10px;
        }
        .opt_forth a3 {
            font-size: 11px;

            padding-left: 10px;
        }
        .footer__copyright a {
            font-size: 11px;
        }
}